[submodule "Helix/vendor/spdlog"]
	path = Helix/vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "Helix/vendor/glfw"]
	path = Helix/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Helix/vendor/glm"]
	path = Helix/vendor/glm
	url = https://github.com/g-truc/glm
